<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
  
	<!-- General files -->
	<!-- Error log file -->
	<RollingFile name="generalErrorFile" fileName="/mnt/tomcat/spread/logs/general_error_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/general_error_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/> 
	</RollingFile>
	<!-- Info log file -->
	<RollingFile name="generalInfoFile" fileName="/mnt/tomcat/spread/logs/general_info_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/general_info_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<Filters>
        <ThresholdFilter level="INFO"/>
   		<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
       </Filters>
	</RollingFile>
	
	<!--Fetcher log file -->
	<RollingFile name="fetcherInfoFile" fileName="/mnt/tomcat/spread/logs/fetcher_info_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/fetcher_info_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<Filters>
        <ThresholdFilter level="TRACE"/>
   		<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="NEUTRAL"/>
       </Filters>
	</RollingFile>
	
	<!--experimentApproach3InfoFile -->
	<RollingFile name="experimentApproach3InfoFile" fileName="/mnt/tomcat/spread/logs/experiment_approach3_info_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/experiment_approach3_info_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<Filters>
        <ThresholdFilter level="TRACE"/>
       </Filters>
	</RollingFile>
	
	<!--experimentNoLabaledInfoFile -->
	<RollingFile name="experimentNoLabaledInfoFile" fileName="/mnt/tomcat/spread/logs/experiment_no_labaled_info_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/experiment_no_labaled_info_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<Filters>
        <ThresholdFilter level="TRACE"/>
       </Filters>
	</RollingFile>
	
	<!--Spread Arabic Preprocessor -->
	<RollingFile name="arabicPreprocessorFile" fileName="/mnt/tomcat/spread/logs/arabic_preprocessor_info_log.log"
		filePattern="/mnt/tomcat/spread/logs/$${date:yyyy-MM}/arabic_preprocessor_info_log-%d{MM-dd-yyyy}-%i.log.gz">
		<PatternLayout
			pattern="%d{yyyy-MM-dd 'at' HH:mm:ss z} %-5level %c{1} %M - %msg%xEx%n" />
		<SizeBasedTriggeringPolicy size="50MB" />
	<Filters>
        <ThresholdFilter level="TRACE"/>
       </Filters>
	</RollingFile>
	
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
  	<!-- The root logger is for console -->
    <Root level="ALL">
      <AppenderRef ref="Console"/>
    </Root>
    
    <!-- The second level of logger -->
   	<Logger name="com.spread"
		level="trace" additivity="true">
		<appender-ref ref="generalErrorFile" level="error" />
		<appender-ref ref="generalInfoFile" level="trace"/>
	</Logger>
	
	<!-- Fetcher logger -->
   	<Logger name="com.spread.fetcher.impl"
		level="trace" additivity="true">
		<appender-ref ref="fetcherInfoFile" level="trace" />
	</Logger>
	
	<!-- experimentApproach3 logger -->
   	<Logger name="experimentApproach3"
		level="trace" additivity="false">
		<appender-ref ref="experimentApproach3InfoFile" level="trace" />
	</Logger>
	
	<!-- Fetcher logger -->
   	<Logger name="experimentNoLabaled"
		level="trace" additivity="false">
		<appender-ref ref="experimentNoLabaledInfoFile" level="trace" />
	</Logger>
	
	<!-- Fetcher logger -->
   	<Logger name="spreadArabicPreprocessorLogger"
		level="trace" additivity="false">
		<appender-ref ref="arabicPreprocessorFile" level="trace" />
	</Logger>
	
  </Loggers>
</Configuration>
